@page
@model FitComrade.Pages.Account.ProductManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Store)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.BuyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.BuyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.SellPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.SellPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Priority)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Products.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
