@page
@model FitComrade.Pages.Account.ProductManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Store)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.BuyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.BuyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.SellPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.SellPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Priority)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Products.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
